@import "./assets/styles/colors.scss";
@import "./assets//styles/fonts.scss";

.App {
  text-align: center;
  font-size: large;

  .App-logo {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
  }

  .App-header {
    padding: 20px;
    color: $white;
    background: $header;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    border-bottom: 1px solid $dark;
    z-index: 2002;
    padding-left: 1.5rem!important;
    display: flex;
  }

  .card {
    box-shadow: 0 4px 8px 0 $gray;
    max-width: 800px;
    font-size: 16px;
    width: 100%;
    pointer-events: auto;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
    display: inline-block;
    margin: auto;
    margin-top: 5rem;
    height: 33rem
  }

}






