@import "./assets/styles/colors.scss";
@import "./assets//styles/fonts.scss";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

form {
  display: inline-block;
  padding: 1rem;
  width: 80%;
}

h2 {
  font-family: $header-font;
  font-size: 40px;
  line-height: 55px;
  text-align: center!important;
  font-weight: 600;
  color: $dark;
}
