@import "./colors.scss";

button {
  background-color: $dark;
  color: $white;
  font-weight: 600;
  &:hover {
    color: $dark;
    background-color: $white;
    border-color: $dark;
  }
  display: inline-block;
  // font-weight: 400;
  // color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  // background-color: transparent;
  // border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin: 1rem;

}

.right-button {
  float: right;
}

.left-button {
  float: left;
}