@import "./colors.scss";

input { 
  min-height: 48px;
  border: none;
  background: $white-smoke;
  color: $dark;
  width: 100%;
  padding-left: 12px;
  font-size: 14px;

  // margin: 8px 0;
  display: inline-block;
  // border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

label {
  float: left;
  font-size: 12px;
  margin-bottom: 8px;
  margin-top: 0.5rem;
  color: $dark;
}